<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>해양 데이터 시각화 <%= title %></p>

    <ul>
      <li><a href="/khoa">개방해 데이터</a></li>
      <li><a href="/kigam">지오 빅데이터</a></li>

    </ul>
  </body>
</html>
